@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/reset';
@import "utils/fonts";

/* site styles */
@import 'elements/1_header.scss';
@import 'elements/2_welcome.scss';
@import 'elements/3_aboutODD';
@import 'elements/4_aboutData';
@import 'elements/5_observability';
@import 'elements/6_tools';
@import 'elements/7_press';
@import 'elements/9_community';
@import 'elements/10_getStarted';
@import 'elements/11_footer';
/* end site styles */

html {
  line-height: var(--lh-md);
  font-size: var(--font-16);
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: var(--font-16);
  }
  @media screen and (max-width: $tableWidth) {
    font-size: var(--font-14);
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: var(--font-12);
  }
}

body {
  background-color: $background-primary;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: var(--font-16);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.column-wrapper {
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  align-items: center;
  //margin: 0 auto;
  width: 100%;
  max-width: $desktopWidth;
  @media screen and (max-width: $desktopWidth) {
    width: $smDesktopWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: $smTableWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: $smPhoneWidth;
  }
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: $gap auto 0;
  padding: 0 $gap;
}

.full-width {
  width: 100%;
}

.flex {
  display: flex;
  gap: $gap-min;
  @media screen and (max-width: $phoneWidth) {
    margin-top: $gap-sm;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: rem(64px);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: $text-light;
  padding: 0 rem(32px);
  border: 2px solid $border-base;
  border-radius: 4px;
  background: $background-secondary;
  white-space: nowrap;
  @media screen and (max-width: $smDesktopWidth) {
    padding: 0 $gap-sm;
    font-size: var(--font-14);
  }
  @media screen and (max-width: $tableWidth) {
    padding: 0 $gap-sm;
    font-size: var(--font-12);
  }
  @media screen and (max-width: $phoneWidth) {
    padding: 0 $gap-min;
    font-size: var(--font-8);
    line-height: var(--lh-sm);
  }

  &:hover {
    cursor: pointer;
    background: $background-primary;
    color: $text-secondary;
  }

  &--sm {
    height: rem(48px);
  }

  &--secondary {
    color: $text-secondary;
    background: none;

    &:hover {
      background-color: $background-secondary;
      color: $text-light;
    }
  }

  &--tertiary {
    color: $text-primary;
    background: none;
    border-color: $border-light;

    &:hover {
      color: $text-primary;
      border-color: $border-dark;
    }
  }
}

.title__h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: var(--font-64);
  line-height: var(--lh);
  color: $text-primary;
  text-align: center;
  @media screen and (max-width: $smDesktopWidth) {
    font-size: var(--font-64);
  }
  @media screen and (max-width: $tableWidth) {
    font-size: var(--font-32);
    line-height: var(--lh-bg);
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: var(--font-24);
    line-height: var(--lh-bg);
  }
}

.title__h2 {
  font-weight: 700;
  font-size: var(--font-44);
  line-height: var(--lh-bg);
  text-align: center;
  @media screen and (max-width: $smDesktopWidth) {
    font-size: var(--font-32);
  }
  @media screen and (max-width: $tableWidth) {
    font-size: var(--font-24);
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: var(--font-20);
    line-height: var(--lh-md);
  }
}

.title__h3 {
  font-weight: 700;
  font-size: var(--font-32);
  line-height: var(--lh-bg);
  color: $text-dark;
  text-align: left;
  @media screen and (max-width: $smDesktopWidth) {
    font-size: var(--font-24);
  }
  @media screen and (max-width: $tableWidth) {
    font-size: var(--font-20);
    line-height: var(--lh-md);
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: var(--font-16);
    line-height: var(--lh-md);
  }
}

.title__h4 {
  font-weight: 700;
  font-size: var(--font-24);
  line-height: var(--lh-bg);
  color: $text-dark;
  @media screen and (max-width: $smDesktopWidth) {
    font-size: var(--font-20);
    line-height: var(--lh-md);
  }
  @media screen and (max-width: $tableWidth) {
    font-size: var(--font-16);
    line-height: var(--lh-md);
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: var(--font-14);
    line-height: var(--lh-md);
  }
}

.title__h5 {
  font-weight: 700;
  font-size: var(--font-16);
  color: $text-secondary;
  letter-spacing: 0.05em;
  @media screen and (max-width: $smDesktopWidth) {
    font-size: var(--font-14);
  }
  @media screen and (max-width: $tableWidth) {
    font-size: var(--font-12);
    line-height: var(--lh-sm);
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: var(--font-8);
    line-height: var(--lh-sm);
  }
}

.text__description {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: var(--font-20);
  color: $text-grey;
  text-align: center;
  @media screen and (max-width: $smDesktopWidth) {
    font-size: var(--font-16);
  }
  @media screen and (max-width: $tableWidth) {
    font-size: var(--font-14);
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: var(--font-12);
    line-height: var(--lh-sm);
  }
}

.text__feature {
  font-weight: 400;
  font-size: var(--font-20);
  color: $text-feature;
  text-align: left;
  @media screen and (max-width: $smDesktopWidth) {
    font-size: var(--font-16);
  }
  @media screen and (max-width: $tableWidth) {
    font-size: var(--font-14);
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: var(--font-12);
    line-height: var(--lh-sm);
  }
}

.card {
  background-color: $background-primary;
  box-shadow: 0 15px 32px rgba(46, 79, 255, 0.1);
  border-radius: 5px;
  padding: $gap-bg;
  @media screen and (max-width: $smDesktopWidth) {
    padding: $gap;
  }
  @media screen and (max-width: $tableWidth) {
    width: 100%;
    margin-right: 0;
    margin-bottom: $gap-min;
    padding: $gap;
  }
  @media screen and (max-width: $phoneWidth) {
    width: 100%;
    font-size: var(--font-12);
    line-height: var(--lh-sm);
    margin-right: 0;
    margin-bottom: $gap-min;
    padding: $gap-min;
  }
}

.card-advantage-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-top: $gap-sm;
  &:first-of-type {margin-top: $gap}
  @media screen and (max-width: $tableWidth) {
    &:first-of-type {margin-top: $gap-sm}
  }
  @media screen and (max-width: $phoneWidth) {
    &:first-of-type {margin-top: $gap-min}
  }
}

.card-icon {
  width: 30px;
  height: 30px;
  margin-right: $gap;
  display: block;
  @media screen and (max-width: $phoneWidth) {
    width: 10px;
    height: 10px;
    margin-right: $gap-min
  }
}

.card-advantage-text {
  font-weight: 400;
  font-size: var(--font-16);
  color: $text-feature;
  text-align: left;
  @media screen and (max-width: $smDesktopWidth) {
    font-size: var(--font-14);
  }
  @media screen and (max-width: $tableWidth) {
    font-size: var(--font-12);
    line-height: var(--lh-sm);
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: var(--font-8);
    line-height: var(--lh-sm);
  }
}


