@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/reset';
@import "utils/fonts";


/* site styles */
@import 'elements/1_header.scss';
@import 'elements/2_welcome.scss';
@import 'elements/3_aboutODD';
@import 'elements/4_aboutData';
@import 'elements/5_observability';
/* end site styles */


html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  background-color: $default-color;
  box-sizing: border-box;

  overflow-x: hidden;

  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: rem(16px);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section,
.section {
  overflow: hidden;
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: $smDesktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $tableWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $phoneWidth) {
    padding: 20px 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;

  @media (max-width: $phoneWidth) {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: $desktopWidth;
      @media screen and (max-width: $smDesktopWidth) {
        max-width: $tableWidth;
      }
      @media screen and (max-width: $tableWidth) {
        max-width: $phoneWidth;
      }
      @media screen and (max-width: $phoneWidth) {
        max-width: $smPhoneWidth;
      }
  }
}

.text {
  //font-family: 'lato', sans-serif;
  color:$keycolor-dark;
  font-weight: $mainFontWeight;
  font-size: rem(18px);
  font-style: normal;
  margin-top: rem(5px);

    &_bold {
      font-weight: 700;
    }
}

.text_italic {
  font-style: italic;
  margin-left: rem(20px);
}

.text_indent {
  text-indent: rem(20px);
  text-align: justify;
}

.clicker {
  margin-top: rem(5px);
  padding-left: rem(20px);
  color: $keycolor-dark;
  font-weight: 600;
}

code {
  color: $keycolor-lighten;
}

pre {
  display: flex;
  flex-direction: column;

  width: 60vw;
  
  white-space: pre-wrap;
  word-break: break-word;
  background: rgba(242, 242, 242, 1);
  border-radius: 15px;
}

.code__examples {
  flex: 1 1 auto;
  text-align: left;
  padding: 0 3%;
}

// new classes

.column-wrapper {
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  align-items: center;
  //margin: 0 auto;
  //width: 100%;
  max-width: $desktopWidth;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: $phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: $smPhoneWidth;
  }
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 20px auto 0;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: $phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: $smPhoneWidth;
  }
}

.button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: $text-secondary;
  line-height: 27px;
  padding: 18px 35px;
  border: 2px solid $border-base;
  border-radius: 5px;
  background: none;
  margin: 0 10px;
  min-width: 180px;

  &:hover {
    cursor: pointer;
  }
}

.title__h2 {
  font-family: 'DM sans', sans-serif;
  font-weight: 700;
  font-size: rem(44px);
  line-height: rem(73px);
  display: inline-block;
}

.title__h3 {
  font-family: 'DM sans', sans-serif;
  font-weight: 700;
  font-size: rem(32px);
  line-height: rem(42px);
  color: $text-dark;
  display: inline-block;
}

.title__h4 {
  font-family: 'DM sans', sans-serif;
  font-weight: 700;
  font-size: rem(24px);
  line-height: rem(28px);
  color: $text-dark;
  display: inline-block;
}

.title__h5 {
  font-family: 'DM sans', sans-serif;
  font-weight: 700;
  font-size: rem(16px);
  line-height: rem(26px);
  color: $text-secondary;
  letter-spacing: 0.05em;
  display: inline-block;
}

.text__description {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: rem(20px);
  line-height: rem(30px);
  color: $text-grey;
  text-align: center;
}

.text__feature {
  font-family: 'DM sans', sans-serif;
  font-weight: 400;
  font-size: rem(20px);
  line-height: rem(33px);
  color: $text-feature;
  text-align: left;
  display: inline-block;
}

.text__card-feature {
  font-family: 'DM sans', sans-serif;
  font-weight: 400;
  font-size: rem(16px);
  line-height: rem(28px);
  color: $text-feature;
  text-align: left;
  display: inline-block;
}



