@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

// Base Montserrat:
// @include font-face("Montserrat", "../fonts/Montserrat/Montserrat-Thin", 100);
// @include font-face("Montserrat", "../fonts/Montserrat/Montserrat-ExtraLight", 200);
// @include font-face("Montserrat", "../fonts/Montserrat/Montserrat-Light", 300);
// @include font-face("Montserrat", "../fonts/Montserrat/Montserrat-Regular", 400);
// @include font-face("Montserrat", "../fonts/Montserrat/Montserrat-Medium", 500);
// @include font-face("Montserrat", "../fonts/Montserrat/Montserrat-SemiBold", 600);
// @include font-face("Montserrat", "../fonts/Montserrat/Montserrat-Bold", 700);
// @include font-face("Montserrat", "../fonts/Montserrat/Montserrat-ExtraBold", 800);
// @include font-face("Montserrat", "../../assets/fonts/Montserrat/Montserrat-Black");

// Italic Montserrat:
// @include font-face("Montserrat", "../fonts/Montserrat/Montserrat-ThinItalic", 100, italic);
// @include font-face("Montserrat", "../fonts/Montserrat/Montserrat-ExtraLightItalic", 200, italic);
// @include font-face("Montserrat", "../fonts/Montserrat/Montserrat-LightItalic", 300, italic);
// @include font-face("Montserrat", "../fonts/Montserrat/Montserrat-RegularItalic", 400, italic);
// @include font-face("Montserrat", "../fonts/Montserrat/Montserrat-MediumItalic", 500, italic);
// @include font-face("Montserrat", "../fonts/Montserrat/Montserrat-SemiBoldItalic", 600, italic);
// @include font-face("Montserrat", "../fonts/Montserrat/Montserrat-BoldItalic", 700, italic);
// @include font-face("Montserrat", "../fonts/Montserrat/Montserrat-ExtraBoldItalic", 800, italic);
// @include font-face("Montserrat", "../fonts/Montserrat/Montserrat-BlackItalic", 900, italic);


/*
  One of the ways:
  1. handle method,
  2. use mixin;
*/

// 1. Example handle method (without mixin):

/*
  // Base Helvetica (example):
  @font-face {
    font-family: "Helvetica-Base";
    src: url('/assets/fonts/Helvetica/Base/Helvetica-Base.eot'); // IE9 Compat Modes
    src: url('/assets/fonts/Helvetica/Base/Helvetica-Base.eot?#iefix') format('embedded-opentype'), // IE6-IE8
         url('/assets/fonts/Helvetica/Base/Helvetica-Base.woff') format('woff'), // Pretty Modern Browsers
         url('/assets/fonts/Helvetica/Base/Helvetica-Base.ttf')  format('truetype'), // Safari, Android, iOS
         url('/assets/fonts/Helvetica/Base/Helvetica-Base.svg') format('svg'); // Legacy iOS
  }
*/

// 2. Example with mixin (example):

/* NOTE:
  1. do NOT use expansion (.woff, .svg etc) for path! Path will be '/assets/fonts/OpenSans/opensans;
  2, files required: `.woff, .woffs` (by default) OR `eot. .woff, .woffs, .svg, .ttf` if you use another mixin.
*/

// Base OpenSans:
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensans");
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensanslight", 300);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensanssemibold", 600);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansbold", bold);

// Italic OpenSans:
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansItalic", 400, italic);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansLightItalic", 300, italic);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansSemiBoldItalic", 600, italic);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansBoldItalic", bold, italic);

/* Webfont: LatoLatin-Black */
@font-face {
  font-family: 'LatoLatinWebBlack';
  src: url('../fonts/LatoLatin/LatoLatin-Black.woff2') format('woff2'), /* Modern Browsers */
       url('../fonts/LatoLatin/LatoLatin-Black.woff') format('woff'), /* Modern Browsers */
       url('../fonts/LatoLatin/LatoLatin-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

/* Webfont: Poppins */
@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('../fonts/LatoLatin/LatoLatin-Black.woff2') format('woff2'), /* Modern Browsers */
  url('../fonts/LatoLatin/LatoLatin-Black.woff') format('woff'), /* Modern Browsers */
  url('../fonts/LatoLatin/LatoLatin-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

// /* Webfont: LatoLatin-BlackItalic */
// @font-face {
//   font-family: 'LatoLatinWebBlack';
//   src: url('/assets/fonts/LatoLatin/LatoLatin-BlackItalic.woff2') format('woff2'), /* Modern Browsers */
//        url('/assets/fonts/LatoLatin/LatoLatin-BlackItalic.woff') format('woff'), /* Modern Browsers */
//        url('/assets/fonts/LatoLatin/LatoLatin-BlackItalic.ttf') format('truetype');
//   font-style: italic;
//   font-weight: normal;
//   text-rendering: optimizeLegibility;
// }

// /* Webfont: LatoLatin-Bold */
// @font-face {
//   font-family: 'LatoLatinWeb';
//   src: url('/assets/fonts/LatoLatin/LatoLatin-Bold.woff2') format('woff2'), /* Modern Browsers */
//        url('/assets/fonts/LatoLatin/LatoLatin-Bold.woff') format('woff'), /* Modern Browsers */
//        url('/assets/fonts/LatoLatin/LatoLatin-Bold.ttf') format('truetype');
//   font-style: normal;
//   font-weight: bold;
//   text-rendering: optimizeLegibility;
// }

// /* Webfont: LatoLatin-BoldItalic */
// @font-face {
//   font-family: 'LatoLatinWeb';
//   src: url('fonts/LatoLatin-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
//        url('fonts/LatoLatin-BoldItalic.woff') format('woff'), /* Modern Browsers */
//        url('fonts/LatoLatin-BoldItalic.ttf') format('truetype');
//   font-style: italic;
//   font-weight: bold;
//   text-rendering: optimizeLegibility;
// }

// /* Webfont: LatoLatin-Hairline */
// @font-face {
//   font-family: 'LatoLatinWebHairline';
//   src: url('fonts/LatoLatin-Hairline.woff2') format('woff2'), /* Modern Browsers */
//        url('fonts/LatoLatin-Hairline.woff') format('woff'), /* Modern Browsers */
//        url('fonts/LatoLatin-Hairline.ttf') format('truetype');
//   font-style: normal;
//   font-weight: normal;
//   text-rendering: optimizeLegibility;
// }

// /* Webfont: LatoLatin-HairlineItalic */
// @font-face {
//   font-family: 'LatoLatinWebHairline';
//   src: url('fonts/LatoLatin-HairlineItalic.woff2') format('woff2'), /* Modern Browsers */
//        url('fonts/LatoLatin-HairlineItalic.woff') format('woff'), /* Modern Browsers */
//        url('fonts/LatoLatin-HairlineItalic.ttf') format('truetype');
//   font-style: italic;
//   font-weight: normal;
//   text-rendering: optimizeLegibility;
// }

// /* Webfont: LatoLatin-Heavy */
// @font-face {
//   font-family: 'LatoLatinWebHeavy';
//   src: url('fonts/LatoLatin-Heavy.woff2') format('woff2'), /* Modern Browsers */
//        url('fonts/LatoLatin-Heavy.woff') format('woff'), /* Modern Browsers */
//        url('fonts/LatoLatin-Heavy.ttf') format('truetype');
//   font-style: normal;
//   font-weight: normal;
//   text-rendering: optimizeLegibility;
// }

// /* Webfont: LatoLatin-HeavyItalic */
// @font-face {
//   font-family: 'LatoLatinWebHeavy';
//   src: url('fonts/LatoLatin-HeavyItalic.woff2') format('woff2'), /* Modern Browsers */
//        url('fonts/LatoLatin-HeavyItalic.woff') format('woff'), /* Modern Browsers */
//        url('fonts/LatoLatin-HeavyItalic.ttf') format('truetype');
//   font-style: italic;
//   font-weight: normal;
//   text-rendering: optimizeLegibility;
// }

// /* Webfont: LatoLatin-Italic */
// @font-face {
//   font-family: 'LatoLatinWeb';
//   src: url('fonts/LatoLatin-Italic.woff2') format('woff2'), /* Modern Browsers */
//        url('fonts/LatoLatin-Italic.woff') format('woff'), /* Modern Browsers */
//        url('fonts/LatoLatin-Italic.ttf') format('truetype');
//   font-style: italic;
//   font-weight: normal;
//   text-rendering: optimizeLegibility;
// }

// /* Webfont: LatoLatin-Light */
// @font-face {
//   font-family: 'LatoLatinWebLight';
//   src: url('fonts/LatoLatin-Light.woff2') format('woff2'), /* Modern Browsers */
//        url('fonts/LatoLatin-Light.woff') format('woff'), /* Modern Browsers */
//        url('fonts/LatoLatin-Light.ttf') format('truetype');
//   font-style: normal;
//   font-weight: normal;
//   text-rendering: optimizeLegibility;
// }

// /* Webfont: LatoLatin-LightItalic */
// @font-face {
//   font-family: 'LatoLatinWebLight';
//   src: url('fonts/LatoLatin-LightItalic.woff2') format('woff2'), /* Modern Browsers */
//        url('fonts/LatoLatin-LightItalic.woff') format('woff'), /* Modern Browsers */
//        url('fonts/LatoLatin-LightItalic.ttf') format('truetype');
//   font-style: italic;
//   font-weight: normal;
//   text-rendering: optimizeLegibility;
// }

// /* Webfont: LatoLatin-Medium */
// @font-face {
//   font-family: 'LatoLatinWebMedium';
//   src: url('fonts/LatoLatin-Medium.woff2') format('woff2'), /* Modern Browsers */
//        url('fonts/LatoLatin-Medium.woff') format('woff'), /* Modern Browsers */
//        url('fonts/LatoLatin-Medium.ttf') format('truetype');
//   font-style: normal;
//   font-weight: normal;
//   text-rendering: optimizeLegibility;
// }

// /* Webfont: LatoLatin-MediumItalic */
// @font-face {
//   font-family: 'LatoLatinWebMedium';
//   src: url('fonts/LatoLatin-MediumItalic.woff2') format('woff2'), /* Modern Browsers */
//        url('fonts/LatoLatin-MediumItalic.woff') format('woff'), /* Modern Browsers */
//        url('fonts/LatoLatin-MediumItalic.ttf') format('truetype');
//   font-style: italic;
//   font-weight: normal;
//   text-rendering: optimizeLegibility;
// }

// /* Webfont: LatoLatin-Regular */
// @font-face {
//   font-family: 'LatoLatinWeb';
//   src: url('fonts/LatoLatin-Regular.woff2') format('woff2'), /* Modern Browsers */
//        url('fonts/LatoLatin-Regular.woff') format('woff'), /* Modern Browsers */
//        url('fonts/LatoLatin-Regular.ttf') format('truetype');
//   font-style: normal;
//   font-weight: normal;
//   text-rendering: optimizeLegibility;
// }

// /* Webfont: LatoLatin-Semibold */
// @font-face {
//   font-family: 'LatoLatinWebSemibold';
//   src: url('fonts/LatoLatin-Semibold.woff2') format('woff2'), /* Modern Browsers */
//        url('fonts/LatoLatin-Semibold.woff') format('woff'), /* Modern Browsers */
//        url('fonts/LatoLatin-Semibold.ttf') format('truetype');
//   font-style: normal;
//   font-weight: normal;
//   text-rendering: optimizeLegibility;
// }

// /* Webfont: LatoLatin-SemiboldItalic */
// @font-face {
//   font-family: 'LatoLatinWebSemibold';
//   src: url('fonts/LatoLatin-SemiboldItalic.woff2') format('woff2'), /* Modern Browsers */
//        url('fonts/LatoLatin-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
//        url('fonts/LatoLatin-SemiboldItalic.ttf') format('truetype');
//   font-style: italic;
//   font-weight: normal;
//   text-rendering: optimizeLegibility;
// }

// /* Webfont: LatoLatin-Thin */
// @font-face {
//   font-family: 'LatoLatinWebThin';
//   src: url('fonts/LatoLatin-Thin.woff2') format('woff2'), /* Modern Browsers */
//        url('fonts/LatoLatin-Thin.woff') format('woff'), /* Modern Browsers */
//        url('fonts/LatoLatin-Thin.ttf') format('truetype');
//   font-style: normal;
//   font-weight: normal;
//   text-rendering: optimizeLegibility;
// }

// /* Webfont: LatoLatin-ThinItalic */
// @font-face {
//   font-family: 'LatoLatinWebThin';
//   src: url('fonts/LatoLatin-ThinItalic.woff2') format('woff2'), /* Modern Browsers */
//        url('fonts/LatoLatin-ThinItalic.woff') format('woff'), /* Modern Browsers */
//        url('fonts/LatoLatin-ThinItalic.ttf') format('truetype');
//   font-style: italic;
//   font-weight: normal;
//   text-rendering: optimizeLegibility;
// }


