// flexbox column center
@mixin flex-cc() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// flexbox row space-between
@mixin flex-rsb() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// flexbox row center
@mixin flex-rc() {
  display: flex;
  justify-content: center;
  align-items: center;
}

// px to rem
@function rem($pixels, $context: 16px) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return calc($pixels / $context) * 1rem;
}
