// Font
$mainFont                : 'DM Sans', Helvetica, Arial, sans-serif;

:root {
  --lh                     : 1em;
  --lh-sm                  : 1.3em;
  --lh-md                  : 1.4em;
  --lh-bg                  : 1.5em;
  --font-weight-400        : 400;
  --font-8                 : 8px;
  --font-12                : 12px;
  --font-14                : 14px;
  --font-16                : 16px;
  --font-20                : 20px;
  --font-24                : 24px;
  --font-32                : 32px;
  --font-44                : 44px;
  --font-64                : 64px;
}

// Size
$mainFontColor           : #000000;

$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;


$iconWidth               : 40px;
$smDesktopIconWidth      : 35px;

// Gap
$step                    : 8px;
$indent-min: $step;
$indent-sm: 2 * $step;
$indent: 3 * $step;
$indent-bg: 6 * $step;
$indent-md: 8 * $step;
$indent-lg: 10 * $step;


// Border Color
$border-base             : #6A6DEE;
$border-dark             : #000000;
$border-card             : #EBEBEB;
$border-light            : #ffffff;

// Text Colors
$text-primary            : #000000;
$text-secondary          : #6A6DEE;
$text-grey               : #727290;
$text-light              : #ffffff;
$text-dark               : #070633;
$text-feature            : #222222;

// Background colors
$background-primary      : #ffffff;
$background-secondary    : #6A6DEE;
$background-light        : #ECECF9;
$background-press        : #ECF5F9;
$background-gray         : #E9E9ED;
