.getStarted {
  background-color: #F5ECF9;
  padding: 128px 0 !important;
  @media screen and (max-width: $tableWidth) {
    padding: $indent-lg 0 !important;
  }
  @media screen and (max-width: $phoneWidth) {
    padding: $indent-bg 0 !important;
  }

  &__cards {
    margin-top: $indent-bg;
    gap: $indent-bg;
    @include flex-rsb();
    align-items: stretch;
    @media screen and (max-width: $desktopWidth) {
      gap: $indent;
    }
    @media screen and (max-width: $smTableWidth) {
      @include flex-cc();
    }
  }

  &__card {
    display: flex;
    flex: 1;
    max-width: 522px;
    min-width: 0;
    padding: var(--P-80, $indent-md);
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: $indent-bg;
    border-radius: var(--R-16, 16px);
    background: $background-primary;
    @media screen and (max-width: $desktopWidth) {
      padding: $indent-bg
    }
    @media screen and (max-width: $smTableWidth) {
      margin-right: 0;
      margin-bottom: $indent-min;
    }
    @media screen and (max-width: $tableWidth) {
      padding: $indent-bg;
    }
    @media screen and (max-width: $phoneWidth) {
      padding: $indent
    }
  }

  &__card-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--P-24, $indent);

    & > img {
      width: 240px;
    }
  }
}
