.footer {
  padding: 80px 100px;
  background-color: #010E43;
  @include flex-rsb();
  align-items: flex-start;
  @media screen and (max-width: $desktopWidth) {
    @include flex-cc();
  }
  @media screen and (max-width: $phoneWidth) {
    padding: 30px 60px;
  }

  &__item-cont {
    display: flex;
    flex-direction: column;
    max-width: 330px;
    width: 100%;
    height: 100%;
    margin-right: 10px;
    &:last-child {margin-right: 0}
    @media screen and (max-width: $desktopWidth) {
      margin-right: 0;
      margin-top: 30px;
    }
  }

  &__cont-title {
    padding-bottom: 22px;
    border-bottom: 1px solid #ffffff;
  }

  &__logo-cont {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }

  &__logo {
    max-width: 255px;
  }

  &__link {
    margin-top: 30px;
    font-family: 'lato', sans-serif;
    font-size: 15px;
    color: $text-light;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__cont-title {
    font-family: 'lato', sans-serif;
    font-size: 16px;
    color: $text-light;
  }

  &__shedule-button-cont {
    @media screen and (max-width: $tableWidth) {
      text-align: center;
    }
  }

  &__shedule-button {
    border: 1px solid #ffffff !important;
    padding: 26px 92px !important;
    margin: 84px 0 0 0 !important;
    color: #ffffff !important;
    &:hover {
      background-color: #ffffff;
      color: #010E43 !important;
      border-color: #010E43;
    }
    @media screen and (max-width: $tableWidth) {
      margin: 30px 0 20px 0 !important;
      padding: 15px 40px !important;
    }
  }

  &__social-cont {
    //margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 10px;

    @media screen and (min-width: $desktopWidth) {
      margin-top: 50px;
    }
    //@media screen and (max-width: $tableWidth) {
    //  justify-content: center;
    //  margin-top: 10px;
    //}
  }

  &__social-logo {
    width: 40px;
    height: 40px;
    margin-right: 30px;
    color: $background-gray;

    &-youtube {
      filter: invert(1);
      height: auto;
      width: 55px;
      margin-right: 0;
    }
  }

  &__subscribe {
    height: 220px;
    @media screen and (max-width: $desktopWidth) {
      height: 0;
    }
  }
}