.footer {
  padding: $gap-lg $gap-lg;
  background-color: #010E43;
  @include flex-rsb();
  align-items: flex-start;
  @media screen and (max-width: $desktopWidth) {
    @include flex-cc();
  }
  @media screen and (max-width: $phoneWidth) {
    padding: $gap $gap-bg;
  }

  &__item-cont {
    display: flex;
    flex-direction: column;
    max-width: 330px;
    width: 100%;
    height: 100%;
    margin-right: $gap-min;
    &:last-child {margin-right: 0}
    @media screen and (max-width: $desktopWidth) {
      margin-right: 0;
      margin-top: $gap;
    }
  }

  &__cont-title {
    padding-bottom: $gap;
    border-bottom: 1px solid #ffffff;
  }

  &__logo-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap-lg;
  }

  &__logo {
    max-width: 255px;
  }

  &__link {
    margin-top: $gap;
    font-family: 'lato', sans-serif;
    font-size: var(--font-16);
    color: $text-light;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__cont-title {
    font-family: 'lato', sans-serif;
    font-size: var(--font-16);
    color: $text-light;
  }

  &__social-cont {
    //margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: $gap-min;

    @media screen and (min-width: $desktopWidth) {
      margin-top: $gap-bg;
    }
  }

  &__social-logo {
    width: 40px;
    height: 40px;
    margin-right: $gap;
    color: $background-gray;

    &-youtube {
      filter: invert(1);
      height: auto;
      width: 55px;
      margin-right: 0;
    }
  }

  &__subscribe {
    height: 220px;
    @media screen and (max-width: $desktopWidth) {
      height: 0;
    }
  }
}
