.header {
    @include flex-rsb();
    width: 100%; 
    height: auto;
    background-color: $background-primary;
    padding: 50px 73px;

    &__logo-cont {
        width: 238px;
        min-width: 150px;
        height: inherit;
    }

    &__logo {
        width: 100%;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;

        &_slack, &_github {
            border-color: transparent !important;
            color: $text-primary !important;
            &:hover {
                border-color: $border-dark !important;
            }
        }

        &_start {
            @include button-hover()
        }
    }
}