.header {
  @include flex-rsb();
  width: 100%;
  height: auto;
  background-color: $background-primary;
  padding: $indent-bg $indent-lg;
  @media screen and (max-width: $tableWidth) {
    padding: $indent $indent-bg;
  }
  @media screen and (max-width: $phoneWidth) {
    @include flex-cc();
  }

  &__logo-cont {
    width: 238px;
    min-width: 150px;
    height: inherit;
  }

  &__logo {
    width: 100%;
  }
}
