.welcome {
  padding: $gap-bg 0;
  @media screen and (max-width: $phoneWidth) {
      padding: $gap-min 0;
  }

  &__saas {
    width: 100%;
    background-color: $background-light;
    padding: $gap-sm $gap-bg;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: $tableWidth) {
      flex-direction: column;
    }

    &_offer {
      @media screen and (max-width: $tableWidth) {
       margin-bottom: 8px;
      }
    }

    &_offer p {
      @media screen and (max-width: $tableWidth) {
        text-align: center;
      }
    }
  }

  &__status {
    margin-top: $gap;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: var(--font-16);
    line-height: rem(27px);
    color: $text-grey;
  }

  &__title {
    margin-top: $gap;
  }

  &__description {
    margin-top: $gap-sm;
  }

  &__buttons {
    margin-top: $gap-bg;
  }
}
