.welcome {
    padding: 50px 0;
    @media screen and (max-width: $phoneWidth) {
        padding: 10px 0;
    }

    &__status {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: rem(18px);
        line-height: rem(27px);
        color: $text-grey;
    }

    &__title {
        margin-top: 20px;
    }

    &__description {
        margin-top: 15px;
    }

    &__buttons {
        display: flex;
        flex-wrap: nowrap;
        margin-top: 50px;
        @media screen and (max-width: $phoneWidth) {
            margin-top: 20px;
        }

        &_deploy {
            color: $text-light !important;
            background-color: $background-secondary !important;
            @include button-hover-reverse();
        }

        &_schedule {
            @include button-hover();
        }

        &_demo {
            @include button-hover();
        }
    }
}
