.aboutODD {
    padding: $gap-bg 0;
    @media screen and (max-width: $phoneWidth) {
        padding: $gap-sm 0;
    }

    &__description {
        margin-top: $gap-sm;
    }

    &__ODDImage {
        margin-top: $gap-bg;
        width: 100%;
    }

    &__video_wrapper {
        margin-top: $gap;
        width: 100%;
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
    }

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
