.aboutODD {
    padding: 50px 0;
    @media screen and (max-width: $phoneWidth) {
        padding: 10px 0;
    }

    &__description {
        margin-top: 15px;
    }

    &__ODDImage {
        margin-top: 40px;
        width: 100%;
    }
}