.aboutData {
  width: 1280px;
  padding: 110px 0;
  @media screen and (max-width: $phoneWidth) {
    padding: $gap-min 0;
  }

  &__item {
    @include flex-rsb();
    width: 100%;
    flex-wrap: nowrap;
    margin-top: $gap-lg;
    gap: $gap;
    @media screen and (max-width: $phoneWidth) {
      margin-top: $gap;
    }

    &-image {
      max-width: 622px;
      min-width: 320px;
    }

    &-description {
      max-width: 475px !important;
      height: 100%;
      align-items: flex-start !important;
      @media screen and (max-width: $phoneWidth) {
        margin-top: $gap-min
      }
    }

    &_reverse { flex-direction: row-reverse }
    @media screen and (max-width: $phoneWidth) {
      @include flex-cc();
      margin-top: $gap-bg
    }
  }

  &__feature {
    &-desc {
      margin-top: $gap;
      @media screen and (max-width: $phoneWidth) {
        margin-top: $gap-min;
      }
    }

    &-buttons {
      margin-top: $gap-bg;
    }
  }
}

.margin {
  width: 100px;
}
