.aboutData {
  width: 1280px;
  padding: 110px 0;
  @media screen and (max-width: $phoneWidth) {
    padding: $indent-min 0;
  }

  &__item {
    @include flex-rsb();
    width: 100%;
    flex-wrap: nowrap;
    margin-top: $indent-lg;
    gap: $indent;
    @media screen and (max-width: $phoneWidth) {
      margin-top: $indent;
    }

    &-image {
      max-width: 622px;
      min-width: 320px;
    }

    &-description {
      max-width: 475px !important;
      height: 100%;
      align-items: flex-start !important;
      @media screen and (max-width: $phoneWidth) {
        margin-top: $indent-min
      }
    }

    &_reverse { flex-direction: row-reverse }
    @media screen and (max-width: $phoneWidth) {
      @include flex-cc();
      margin-top: $indent-bg
    }
  }

  &__feature {
    &-desc {
      margin-top: $indent;
      @media screen and (max-width: $phoneWidth) {
        margin-top: $indent-min;
      }
    }

    &-buttons {
      margin-top: $indent-bg;
    }
  }
}

.margin {
  width: 100px;
}
