.observe {
  background-color: $background-light;
  padding: 120px 0 !important;
  @media screen and (max-width: $tableWidth) {
    padding: $indent-lg 0 !important;
  }
  @media screen and (max-width: $phoneWidth) {
    padding: $indent-bg 0 !important;
  }


  &__feature {
    &-title {
      margin-top: $indent-min;
      @media screen and (max-width: $phoneWidth) {
        text-align: center !important;
      }}

    &-desc {
      @media screen and (max-width: $phoneWidth) {
        text-align: center !important;
      }
    }
  }

  &__cards {
    margin-top: 60px;
    gap: $indent;
    @include flex-rsb();
    @media screen and (max-width: $tableWidth) {
      margin-top: $indent-bg;
      @include flex-cc();
    }
    @media screen and (max-width: $phoneWidth) {
      margin-top: $indent;
    }
  }
}
