.tools {
  padding: 100px 0;
  &__feature-title {
    @media screen and (max-width: $phoneWidth) {
      text-align: center !important;
    }
  }
  &__feature-desc {
    margin-top: 10px;
    @media screen and (max-width: $phoneWidth) {
      text-align: center !important;
    }
  }
  &__logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    margin-top: 55px;
    &-logo {
      max-width: 100%;
      max-height: 100%;
      position: relative;
      vertical-align: middle;
      height: 100px;
      width: 200px;
      object-fit: contain;
      margin-bottom: 30px;
      @media screen and (max-width: $tableWidth) {
        height: 40px;
        width: 100px;
        margin-bottom: 15px;
      }
      @media screen and (max-width: $phoneWidth) {
        height: 30px;
        width: 50px;
        margin-bottom: 15px;
      }
    }
  }
  &__comingSoon {
    margin: 50px 0 40px 0;
    font-family: "DM sans", sans-serif;
    color: #B2B2B2;
    font-size: 20px;
    font-weight: 500;
    line-height: 33px;
    text-align: center;
    @media screen and (max-width: $smDesktopWidth) {
      font-size: rem(16px);
      line-height: rem(25px);
    }
    @media screen and (max-width: $tableWidth) {
      font-size: rem(13px);
      line-height: rem(21px);
    }
    @media screen and (max-width: $phoneWidth) {
      font-size: rem(12px);
      line-height: rem(17px);
      margin: 25px 0 20px 0;
    }
  }
}