.tools {
  padding: 100px 0;
  &__feature-title {
    @media screen and (max-width: $phoneWidth) {
      text-align: center !important;
    }
  }
  &__feature-desc {
    margin-top: $indent-min;
    @media screen and (max-width: $phoneWidth) {
      text-align: center !important;
    }
  }
  &__logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: $indent;
    margin-top: $indent-bg;
    &-logo {
      max-width: 100%;
      max-height: 100%;
      position: relative;
      vertical-align: middle;
      height: 100px;
      width: 200px;
      object-fit: contain;
      margin-bottom: $indent;
      @media screen and (max-width: $tableWidth) {
        height: 40px;
        width: 100px;
        margin-bottom: $indent-sm;
      }
      @media screen and (max-width: $phoneWidth) {
        height: 30px;
        width: 50px;
        margin-bottom: $indent-sm;
      }
    }
  }
  &__comingSoon {
    margin: $indent-bg 0 $indent-bg 0;
    color: #B2B2B2;
    font-size: var(--font-20);
    font-weight: 500;
    text-align: center;
    @media screen and (max-width: $smDesktopWidth) {
      font-size: var(--font-16);
    }
    @media screen and (max-width: $tableWidth) {
      font-size: var(--font-14);
    }
    @media screen and (max-width: $phoneWidth) {
      font-size: var(--font-12);
      line-height: var(--lh-sm);
      margin: $indent 0 $indent-sm 0;
    }
  }
}
