.efforts {
  background-color: $background-light;
  padding: 120px 0;
  margin-top: 0 !important;

  &__feature {
    &-title { margin-top: 10px }
  }

  &__cards {
    margin-top: 60px;
    @include flex-rsb();
  }
}