.community {

  &__cards {
    display: flex;
    margin-top: 50px;
  }

  &__card {
    display: flex;
    width: 664px;
    height: 176px;
    background: $background-primary;
    border: 1px solid $border-card;
    border-radius: 10px;
    margin-right: 40px;
    &:last-child {margin-right: 0}
  }

  &__card-icon-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    background-color: $background-gray;
  }

  &__card-icon {
    width: 63px;
    height: 63px;
  }

  &__card-description {
    padding: 45px 0 45px 45px;
    @include flex-cc();
    align-items: flex-start;
  }

  &__card-links { margin-top: 10px }

  &__card-link {
    margin-right: 50px;
    font-family: 'DM sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: #0A30F7;
  }
}